# Byte-compiled files
__pycache__/
*.pyc

# Distribution / packaging
dist/
build/

# .pyc files
*.pyc

# Virtual environment
env/
venv/

# Compiled Python files
*.pyo
*.pyc

# IDE specific files
.vscode/

# Environment Config
.env

# DataBases
DailyWeights.csv
weights.db
.~lock.DailyWeights.csv#